/* Codes couleurs du site: 
bleu #0065FC 
bleu clair #DEEBFF
gris pour le fond #F2F2F2
*/
	
ul {list-style: none;}

@font-face {
	font-family: 'Raleway', 'RalewayBold';
	src: url('./police/Raleway-Light.ttf', 
			 './police/Raleway-Bold.ttf' );
	
}

body {	
	line-height: 1;
	padding : 0 15px;
	font-family: Raleway, Verdana, Arial, sans-serif;
}

strong {
	font-family: RalewayBold;
}

ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

a {
	text-decoration: none;
	color: black;
}

.desktop {									
	display: run-in;
}

/*header*/

header {								
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.header-link::after {
	content: "";
	position: absolute;
	background-color: white;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
}
.logo {
	height: 60px;
	width: 130px;
	cursor: auto;
	}
	
nav ul {margin: 0;}

nav ul li {
	padding: 20px;
	border-top : 2px solid white;
	position: relative;
}
nav ul li:hover {border-top: 2px solid #0065FC;}
nav ul li:hover > a {color: #0065FC;}

#inscription a {color: #0065FC;}
#inscription:hover > a {font-style: italic;}


