/* ---------------------- Media queries for Smartphone --------------------------*/			
@media only screen and (min-width: 360px) and (max-width: 760px) {

.smart {display: run-in;}

	
.smart-logo {
    height: 40px;
    width: 70px;
    cursor: auto;
}
/*------------- disposition -------------*/          
		
ul {list-style: none;}


h3 {font-size: 1.3em;}

body {padding : 15px;}


	
.align_gauche{
	float:left;
	
}

.align_droite{
	float:right;
	
}

	

/*------------------ header -------------*/
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.header-link::after {
    content: "";
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.ligne {
	display: flex;
	flex-direction: row;
	align-items: center;
	
}
.col {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.stretch-link::after {
	content: "";
	position: absolute;
	background-color: red;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
}
#Registration a {
    color: #0065FC;
}
#Registration:hover>a {
    font-style: italic;
}
.smart {
	flex-direction: column;
	padding: 0 10px;
	}
	
.smart .ligne {						
		
	justify-content: space-between; 
	margin: 10px;
	}
.smart .ligne p a {color: #0065FC;}															
.smart .ligne p a:active {font-style: italic;}

/*--------------- nav smart ------------------*/
.smart nav {
		display: flex;	 
		justify-content: stretch; 
		}

.smart nav ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}
.smart nav ul li {	
		width: 10%;
		display: flex;
		justify-content: space-between;
	}
	
.smart nav ul li:hover {border-top: 2px solid rgba(0, 0, 0, 0);}
.smart nav ul li:active {border-bottom: 2px solid #0065FC;}
.smart nav ul li:active > a {color: #0065FC;}

					
/*----------------- footer --------------*/
footer {
		flex-direction: column;
		padding-left: 10px;
		margin: 0;
	}
footer .col {margin-right: 80%;}

.tablet {display: none;}	
.desktop {display:none;}

} /*-- Fin Media Queries --*/