/* Codes couleurs du site: 
bleu #0065FC 
bleu clair #DEEBFF
gris pour le fond #F2F2F2
*/

@font-face {
    font-family: 'Raleway', 'RalewayBold';
    src: url('./police/Raleway-Light.ttf', './police/Raleway-Bold.ttf');
}
@media only screen and (min-width: 1025px) {

.desktop {
    display: run-in;
}

ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
    padding: 0 10px;
    font-family: Raleway, Verdana, Arial, sans-serif;
}
h3, strong {
    font-family: RalewayBold;
}


h3{
    margin: 8px 0 0 0;
    font-size: 1.1em;
	font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	
}
a {
    text-decoration: none;
    color: black;
}

/*---------------header----------*/
.logo {
    height: 60px;
    width: 130px;
    cursor: auto;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.header-link::after {
    content: "";
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*----------- Navigation --------*/
nav ul {
    margin: 0;
}
nav ul li {
    padding: 20px;
    border-top: 2px solid white;
    position: relative;
}
nav ul li:hover {
    border-top: 2px solid #0065FC;
}
nav ul li:hover>a {
    color: #0065FC;
}
/*------ registration ------------*/
#registration a {
    color: #0065FC;
}
#registration:hover>a {
    font-style: italic;
}

/*-----------footer-------------*/
footer {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    margin: 50px -10px 0 -10px;
    align-items: flex-start;
    padding-left: 30px;
}
footer .col {
    margin-right: 20%;
    margin-top: 10px;
    align-items: flex-start;
}
footer ul {
    flex-direction: column;
    padding-top: 15px;
}
footer ul li {
    margin-bottom: 10px;
}
footer a:hover {
    color: #0065FC;
    font-style: italic;
}
.smart {
display:none
}

.tablet {
display:none
}

} /*-- Fin Media Queries --*/