/* codes couleurs : 
bleu #0065FC 
bleu clair #DEEBFF
gris #F2F2F2
*/

/* Police :
Raleway-Light.ttf
Raleway-Bold.ttf
*/

html, body, div, span, table,
h1, h2, h3, p, a,
em, img, ins, strong, 
b, u, i, center,ul, ol, li, blockquote, 
footer, header, nav, section,aside


 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
 aside, footer, header, nav, section {
	display: block;
}
body {
							
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*desktop*/
@font-face {
	font-family: 'Raleway';
	src: url('./police/Raleway-Light.ttf');
}
@font-face {
	font-family: 'RalewayBold';
	src: url('police/Raleway-Bold.ttf');
}

.tel {
	display: none;
}
.desktop {									
	display: run-in;
}



body {					
	padding : 0 10px;
	font-family: Raleway, Verdana, Arial, sans-serif;
}

h1, h2, h3, strong {
	font-family: RalewayBold;
}
h1 {
	font-size: 1.3em;
	margin-bottom: 10px;
}
h2 {
	font-size: 1.1em;
	margin: 10px 0;
}
h3 {
	margin: 5px 0 0 0;
	font-size: 0.9em;
}
p {
	font-size: 0.9em;
	margin: 5px 0 5px 0;
}
ul {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
a {
	text-decoration: none;
	color: black;
}

	/*disposition*/

.ligne {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.colonne {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.nav-link::after {
	content: "";
	position: absolute;
	background-color: #F2F2F2;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
}

/*header*/
header {								
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.logo {
	height: 60px;
	width: 135px;
	cursor: auto;
	}
#inscription a {
	color: #0065FC;
}
#inscription:hover > a {
	font-style: italic;
}
nav ul {
	margin: 0;
}
nav ul li {
	padding: 30px;
	border-top : 2px solid white;
	position: relative;
}
nav ul li:hover {
	border-top: 2px solid #0065FC;
}
nav ul li:hover > a {
	color: #0065FC;
}


/*recherche*/

#barre {
	border : 1px solid #F2F2F2;
	border-radius: 10px;
	display: inline-block;
	margin: 10px 0 30px 0;
}
#barre i {
	padding: 11px 15px;
	background-color: #F2F2F2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
input {							
	padding: 10px;
	margin: 0 -4px;
	border : none;
	caret-color : #0065FC;
	position: relative;
	top: -1px;
}
input::placeholder {
	transition: 200ms;
	font-style: italic;
}
input:focus {
	outline: 1px solid #0065FC;
	outline-offset: 1px;
}
input:focus::placeholder {
	opacity: 0;
}
#bouton { 
	background-color: blue;
	color: #FFFFFF;
	cursor: pointer;
	padding: 10px;
	border-radius: 0px 10px 10px 0px;
	transition: 200ms;
}
#bouton:hover {
	box-shadow: inset 7px 7px 7px blue; 
}

/*filtres*/
.filter-container {
  display: flex;
  flex-wrap: wrap;
}

.filter-button {
  display: flex;
  margin: 0.5rem 1rem 0.5rem -3rem;
}

.filter-button p > a {
  padding: 1rem 1.6rem;
  padding-left: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 0.2rem;
  border-color: #e0e0e0;
  border-radius: 0 2.4rem 2.4rem 0;
  font-weight: 700;
}
.filter-button p > a:hover {
  background: #deebff;
}

.filter-button i {
  background: #deebff;
  color: #0065fc;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 3rem;
  bottom: 0.1rem;
}

.filter-text {
  display: flex;
  align-items: center;
  height: 6rem;
#filtres h3 {			 
	margin-right: 15px; 
	position: relative; 
	top: -4px; 
}
#filtres .ligne ul li {				
	border : 1px solid #F2F2F2;
	border-radius: 10px;
	padding:0 20px 0 0;
	font-weight: bold;
	font-size: 0.9em;
	margin-left: 25px;
	transform-origin: left;
	transition: 500ms;
}
#filtres .ligne ul li:hover {
	background-color: #DEEBFF;
}

#filtres .ligne ul li a{
	color: black;
	transition: 1300ms;
}
#filtres .ligne ul li:hover > a{
	color: #0065FC;
}
#filtres .ligne ul li i {
	padding: 10px;
	border-radius: 50%;
	background-color: #DEEBFF;
	color: #0065FC;
	margin-right: 10px;
}
#filtres .ligne ul li:nth-child(2) i {	
	padding: 10px 12px;
}
#filtres p {
	margin: 20px 0;
}
#filtres p i{
	color: #0065FC;
	border: 1px solid #F2F2F2;
	border-radius: 50%;
	padding: 5px 10px;
	margin-right: 10px;
}


/*footer*/

footer {
	display: flex;
	flex-direction: row;
	background-color: #F2F2F2;
	margin: 50px -10px 0 -10px;
	align-items: flex-start;
	padding-left: 30px;
}
footer .colonne {
	margin-right: 21%; 
	margin-top: 10px;
	align-items: flex-start;
}
footer ul {
	flex-direction: column;
	padding-top: 15px;
}
footer ul li {
	margin-bottom: 10px;
}
footer a:hover {
	color: #0065FC;
	font-style: italic;
}
