
  header     {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
    }

     header a {
        font-size: 1.1rem;
        margin-bottom:10px;
     }

     

    h1, h2 {
        font-size: 1.4rem;
    }

    div { 
        text-align: center;
    }

    h3  {
        font-size: 1.3rem;
    }     

    .fa-star {
        font-size: 0.6rem;
    }

    .rechercher > p, .prix, span {
        font-size: 0.9rem;
     }

     .chercher_ville {
        margin-right: 17vh;
    }


    .fa-map-marker-alt {
        visibility: hidden;
        width: 0;
    }
    
    
    .filtres label {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-right:2px;
    cursor: pointer;
    }

.filtres .fas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid var(--bleuclair);
    border-radius: 15px;
    color: var(--bleu);
    background-color: var(--bleuclair);
    transition: .1s;
    z-index: 2;
}

.filtres input[type="checkbox"]:checked + label > .fas {
    color: var(--bleuclair);
    border-color: var(--bleu);
    background-color: var(--bleu);
}

.filtres span {
    margin-left: 5px;
    padding: 5px 3px 0 20px;
    border-top: 5px solid var(--gris);
    border-right: 5px solid var(--gris);
    border-bottom: 5px solid var(--gris);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 0.7rem;
    z-index: 1;
}


.filtres input[type="checkbox"]:checked + label > span {
    background-color: var(--bleu);
    color: var(--bleuclair);
    border-color: var(--bleu);
}

    .picto_info {
       margin-left: 15vh; 
    }
    #location     {
        flex-direction: column;
    }
    
    #hebergements, #populaires, #activites {
        margin: 20px;
        padding: 0;
        border-radius: 20px;
        border-bottom:2px solid #a9a9a9;
    }

    .fiche_produit {
        padding: 5px;
    }

   #hebergements {
        margin-top: 0;
        margin-bottom: 0;
        background-color: #F2F2F2;
        order: 1;
    }

    #hebergements h2     {
        margin-left: 0;
    }

    #hebergements > div     {
        flex-direction: row;
    }

    .fiche_location     {
        width: 45%;
        height: 220px;
    }

    .fiche_location .photos     {
        padding-top: 10px;
        border-radius :10px;
    }

    .smart_heb {
    height:100px; 
    width: 100%;
    }   
    #populaires {
        order: 2;
    }

    #populaires > div {
        flex-direction: row;       
    }

    .fiche_location_populaire {
        width: 350px;
        height: 180px;

    }

    .hebergements_populaires h2 {
        margin-left: 35%;

    } 

    .fiche_location_populaire .photos {
        
        width: 100px;
        height:170px;
    }

    
/*----------- rubrique article activités---------*/
.photos { 
    background-size: cover;
    background-position: center;
}

.tablet1 {
   height:100px; 
   width: 100%;
}
    
.tablet2 {
   height:240px; 
   width: 100%;
   margin-bottom: 35px;
}

#activites_article {
    margin-bottom: 50px;
    height: 250px;
}

#activites_article h2 {
    margin: 20px 0;
}

.definition_activites {
    margin: 20px 10px;
    display: flex;
    height: 100%;
}

.definition_activites> div {
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
   }

.fiche_activites{
    width: 100%;
    height: 100%;
    padding: 0;
    flex-direction: column;
}

.fiche_activites .photos {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.fiche_activites h3 {
    padding: 15px;
    font-size: 0.8rem;
}
  
/*-------------- Footer --------------------*/

.pied_page {
    width: 100%;
    margin-top: 10px;
    background-color: var(--gris);
    
}

footer {
    flex-direction: row;
    padding: 15px 0;
    margin-left:-10px;
}


footer h3 {
    font-size: 1.2rem;
    display:flex;
    margin: 10px 32px;
}


footer div {
    margin-bottom: 10px;
    width: 100%;
}

footer a {
    margin-bottom: 5px;
    width: 100%;
    display:flex;
    margin: 0 32px;
    }