/*8/5/21*/
    html, body { 
        height: 100%; 
        max-width: 100%; 
        overflow-x: hidden;
    }   

    section, article, aside {
    margin: 20px;
    padding: 0;
}

#location     {
    flex-direction: column;
}

#hebergements, #populaires, #activites {
    padding: 20px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
}

.fiche_location:hover, .fiche_location_populaire:hover, .fiche_activites:hover {
    transform: initial;
    box-shadow: 2px 2px 7px rgba(177, 177, 177, 0.4);
}

.fiche_produit {
    padding: 5px;
}


/*----------- section Header de la page -------------*/
    
    .logo     {
        margin-top: 0;
        margin-left: 10px;
        margin-right: auto;
        order: 1;
    }
    
    header     {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
    }
    
    
    /*--------------- navigation ----------------------*/
    nav    {
        flex-basis: 100%;
        margin-top: 25px;
        width: auto;
        order: 3;
    }

    nav ul     {
        margin: 0;      
    }

    nav li     {
        width: 50%;
        text-align: center;
    }

    
    nav li:nth-of-type(2) {
    	margin: 0 3%;
    	padding-left: 40px;
    }

    nav li:nth-of-type(1) {
        margin: 0 3%;
        padding-left: 30px;
    }
    

    nav a     {
    	font-size: 1rem;
        padding-top: 0;
        padding-bottom: 20px;
        border-bottom: 3px 3px solid var(--bleu);
    }

    nav a:hover  {
        padding-top: 0;
        border-top: initial;
        border-bottom: 3px solid var(--bleu);
    }

    nav a:active {
        padding-top: 0;
        border-top: initial;
        border-bottom: 3px solid var(--bleu);
        color: var(--bleu);
    } 

    header > a
    {
        margin-right: 20px;
        
        padding: 5px;
        align-self: center;
        text-align: right;
        font-size: 0.9rem;
        letter-spacing:0.05rem;
        order: 2;
    }
        
    /*----------- section_recherche --------------- */

    #section_recherche form    {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    .rechercher input[type="search"] {
        width: 100%;
        font-size: 1rem;
    }

    .rechercher button     {
        padding: 6px;
        margin-left: -8px;
        border-radius: 10px;
    }

    .rechercher button span  {
        display: none;
    }

    .bouton_rechercher   {
        visibility: visible;
        padding: 10px;
        width: initial;
    }

    .chercher_ville   {
        padding: 10px 16px;
    }

    /*------------ filtres par tendance -----------------*/

    .filtres     {
        justify-content: flex-start;
    }

    .filtres p     {
        margin-top: 20px;
        margin-bottom: 5px;
        padding: 0;
        width: 100%;
    }

    .filtres label     {
        margin: 10px 0;
        margin-right: 10px;
    }

    
    .filtres label:hover .fas     {
        border-color: #deebff;
    }

    
    .picto_info     {
        margin-bottom: -5px;
    }

/*------- Article Hebergements ----------*/

#hebergements {
    margin-top: 0;
    margin-bottom: 0;
    background-color: initial;
    order: 2;
}

#hebergements h2     {
    margin-left: 0;
}

#hebergements > div     {
    flex-direction: column;
}

.fiche_location     {
    width:100%;
    height: 180px;
}

.fiche_location .photos     {
    height: 100px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}


.afficher_plus {
    padding: 20px 0;
}

/*------ aside populaires ----------------*/
#populaires {
    margin-bottom: 0;
    order: 1;
}

.hebergements_populaires {
    margin: 20px 0;
}

.fiche_location_populaire {
    margin: 6px 0;
    width: 100%;
    height: 130px;
}

.fiche_location_populaire .photos{
    padding: 2px 5px;
    transform: scale(1.05);
    width: 120px;
    height:120px; 
}



/*------ article activites ------------*/
   
#activites {
    margin-top: 0;
    padding-top: 0;
    height: 100%;
}

.definition_activites {
    flex-direction: column;
    height:100%;
}

.definition_activites > a {
    display:flex; 
    margin: 20px 0;
}

.definition_activites > div {
    margin: 20px 0;      
}


.fiche_activites > div{
	height:100%;
    margin: 5px 5px;
}

.fiche_activites .photos {
    width: 100%;
    height: 130px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

}

.fiche_activites h3 {
    padding: 10px;

}

/*---------------- footer -----------------*/ 


    footer
    {
        flex-direction: column;
        margin-left: -180px;
        max-width: 415px;
        margin-top:-40px;
    }

    footer div
    {
        margin-top: 10px;
        width: 100%;
        font-size: 0.8rem;
    }

    footer div > h3 {
        font-size: 0.9rem;
    }

    












